---
import { Section } from "@/components";
---

<Section id="about" title="ABOUT ME">
  <p class="tracking-wide leading-7 text-sm text-muted-foreground text-center">
    Hello! I'm Manvel, a passionate web developer and designer who believes in
    the power of beautiful, functional websites. I combine my expertise in UI/UX
    design, visual branding, and prototyping with robust development skills in
    HTML, CSS, JavaScript, and React. My goal is to craft engaging digital
    experiences that are not only visually stunning but also intuitive,
    responsive, and performant. I thrive on bringing creative visions to life
    through clean code and thoughtful design. Let's build something truly
    exceptional together!
  </p>
</Section>
