---
import { Section } from "@/layouts";
import ContactForm from "../ContactForm";
---

<Section id="contact" title="GET IN TOUCH" class="bg-muted" width="max-w-xl">
  <ContactForm client:load />
</Section>
