---
import SocialMedia from "../SocialMedia.astro";
---

<footer class="mb-5">
  <div class="flex justify-center mb-5">
    <SocialMedia />
  </div>
  <p class="text-center">
    &copy; {new Date().getFullYear()} mnoker.dev. All rights reserved.
  </p>
</footer>
