---
import { SocialMedia } from "@/components";
import Logo from "@/assets/logo.svg";
---

<footer
  class="pb-5 bg-surface text-muted-foreground py-5 border-t border-border"
>
  <Logo
    class="w-14 justify-self-center mb-5 stroke-1 stroke-surface-foreground"
    aria-label="logo"
  />
  <div class="flex justify-center gap-3 mb-5">
    <SocialMedia />
  </div>
  <p class="text-center text-sm">
    &copy; {new Date().getFullYear()} mnoker.dev. All rights reserved.
  </p>
</footer>
