---
import { SocialMedia } from "@/components";
import { Theme } from "@/components";
import Logo from "@/assets/logo.svg";

const navLinks = [
  { name: "About", href: "#about" },
  { name: "Projects", href: "#projects" },
  { name: "Skills", href: "#skills" },
  { name: "Contact", href: "#contact" },
];
---

<header
  id="header"
  class="transition-all duration-300 fixed bg-surface/80 text-surface-foreground top-0 left-0 right-0 z-50 px-6 md:px-12 py-4 backdrop-blur-md border-b border-border/80"
>
  <div class="flex items-center justify-between max-w-screen-xl mx-auto">
    <!-- Logo -->
    <a href="#hero" aria-label="Back to top">
      <Logo
        class="max-sm:h-8 h-10 stroke-1 stroke-surface-foreground"
        aria-label="logo"
      />
    </a>

    <!-- Nav Links -->
    <nav
      class="hidden md:flex items-center gap-8 text-muted-foreground text-sm"
    >
      {
        navLinks.map((link) => (
          <a
            class="relative transition-all duration-300 hover:text-surface-foreground hover:-translate-y-0.5  after:absolute after:content-[''] after:-bottom-1.5 after:right-0 after:left-0 after:bg-linear-to-r/oklch after:from-indigo-500 after:to-purple-500 after:w-0 after:h-[2px] hover:after:w-full after:transition-all after:duration-300"
            href={link.href}
          >
            {link.name}
          </a>
        ))
      }
    </nav>

    <!-- Social Icons -->
    <div class="flex items-center gap-4">
      <SocialMedia />
      <Theme class="w-10" />
    </div>
  </div>
</header>

<style>
  .hide {
    transform: translateY(-66px);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header")!;
    let lastScrollY = window.scrollY;

    window.addEventListener("scroll", () => {
      const currentScrollY = window.scrollY;

      if (currentScrollY > lastScrollY && currentScrollY > 50) {
        header.classList.add("hide");
      } else {
        header.classList.remove("hide");
      }
      lastScrollY = currentScrollY;
    });
  });
</script>
