---
import {
  designTools,
  webTools,
  frameWorkTools,
  libraryTools,
} from "@/utils/skills";
import { Section } from "@/layouts";
import SkillsList from "@/components/SkillsList.astro";
---

<Section
  id="skills"
  title="SKILLS & TOOLS"
  subTitle="This isn’t an exhaustive list, but rather a snapshot of the tools I actively use in my day-to-day work. From design systems to responsive frameworks, these are the technologies that help me build clean, scalable, and user-centered solutions across different kinds of projects."
>
  <div class="flex gap-4 flex-wrap justify-evenly">
    <SkillsList title="Design" skills={designTools} />
    <SkillsList title="Web" skills={webTools} />
    <SkillsList title="Framework" skills={frameWorkTools} />
    <SkillsList title="Library" skills={libraryTools} />
  </div>
</Section>
