---
import { Layout } from "@/layouts";
import { Header } from "@/components/sections";
import Button from "@/components/ui/Button";
import Gh from "@/assets/icons/gh.svg";
---

<Layout>
  <Header />
  <dir
    class="flex justify-center flex-col items-center gap-10 bg-linear-to-br/oklch from-[#0a0a0a] via-[#1a1a2e] to-[#16213e] h-screen"
  >
    <div>
      <h1 class="text-center">Small</h1>
      <Button size="sm">Regular</Button>
      <Button size="sm" variant="secondary">SECONDARY</Button>
      <Button size="sm" variant="primary">SECONDARY</Button>
      <Button size="sm" variant="destructive">SECONDARY</Button>
    </div>
    <div>
      <h1 class="text-center">Regular</h1>
      <Button>Regular</Button>
      <Button variant="secondary">SECONDARY</Button>
      <Button variant="primary">SECONDARY</Button>
      <Button variant="destructive">SECONDARY</Button>
    </div>
    <div>
      <h1 class="text-center">Large</h1>
      <Button size="lg">Regular</Button>
      <Button size="lg" variant="secondary">SECONDARY</Button>
      <Button size="lg" variant="primary">SECONDARY</Button>
      <Button size="lg" variant="destructive">SECONDARY</Button>
    </div>
    <div>
      <h1 class="text-center">Ghost</h1>
      <Button variant="ghost" size="sm">Small</Button>
      <Button variant="ghost">Regular</Button>
      <Button variant="ghost" size="lg">Large</Button>
    </div>
    <div>
      <h1 class="text-center">Icons</h1>
      <Button size="icon"><Gh /></Button>
      <Button size="icon" variant="secondary"><Gh /></Button>
      <Button size="icon" variant="primary"><Gh /></Button>
      <Button size="icon" variant="destructive"><Gh /></Button>
    </div>
    <div>
      <h1 class="text-center">Rounded</h1>
      <Button rounded="sm">Small</Button>
      <Button rounded="default">Default</Button>
      <Button rounded="lg">Large</Button>
      <Button rounded="none">None</Button>
    </div>
  </dir>
</Layout>
