---
type Props = astroHTML.JSX.HTMLAttributes & {
  title: string;
  subTitle?: string;
  width?: string;
};

const { width = "max-w-7xl", title, subTitle, ...props } = Astro.props;
---

<section {...props}>
  <div class={`${width} mx-auto py-25 px-5`}>
    <h2 class={`text-center ${!subTitle && "mb-10"}`}>{title}</h2>
    {
      subTitle && (
        <p class="text-sm text-muted-foreground text-center mb-10 mt-2">
          {subTitle}
        </p>
      )
    }
    <slot />
  </div>
</section>
