---
type Props = {
  title: string;
  skills: {
    name: string;
    img: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
  }[];
};

const { skills, title } = Astro.props;
---

<div class="space-y-4 col-span-1">
  <h3>{title}</h3>
  <ul class="space-y-4">
    {
      skills.map((tool) => (
        <li class="flex gap-4 items-center">
          <span class="rounded-lg bg-primary size-10 inline-flex items-center justify-center transition hover:-translate-0.5 cursor-crosshair">
            <tool.img class="w-5 h-5" aria-label={tool.name} />
          </span>
          <span>{tool.name}</span>
        </li>
      ))
    }
  </ul>
</div>
