---
type Props = {
  title: string;
  skills: {
    name: string;
    img: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
  }[];
};

const { skills, title } = Astro.props;
---

<div
  class="bg-surface text-surface-foreground p-5 rounded-lg border border-border shadow-xl max-sm:w-full max-md:w-[280px] md:flex-1 space-y-4"
>
  <h3>{title}</h3>
  <ul class="space-y-4">
    {
      skills.map((tool) => (
        <li class="flex gap-3 items-center">
          <span class="bg-primary p-1 rounded">
            <tool.img
              class="size-4 fill-primary-foreground"
              aria-label={tool.name}
            />
          </span>
          <span class="text-sm text-muted-foreground">{tool.name}</span>
        </li>
      ))
    }
  </ul>
</div>
