---
type Props = {
  title: string;
  skills: {
    name: string;
    img: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
  }[];
};

const { skills, title } = Astro.props;
---

<div
  class="bg-surface text-surface-foreground p-5 rounded-lg border border-border shadow-xl max-sm:w-full max-md:w-[280px] md:flex-1 space-y-4 opacity-0"
  data-inview="animate-slide-up"
>
  <h3>{title}</h3>
  <ul class="space-y-4">
    {
      skills.map((tool, idx) => (
        <li
          class="flex gap-3 items-center opacity-0 duration-[2s]"
          data-inview="animate-slide-left"
          data-delay={`[animation-delay:1500ms]`}
          data-repeat="true"
        >
          <span class="bg-primary p-1 rounded">
            <tool.img
              class="size-4 fill-primary-foreground"
              aria-label={tool.name}
            />
          </span>
          <span class="text-sm text-muted-foreground">{tool.name}</span>
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { inView } from "@/utils/inView";
  const observer = inView({
    threshold: 0.5,
  });

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll<HTMLElement>("[data-inview]").forEach((el) => {
      observer.observe(el);
    });
  });
</script>
