---
import Linkedin from "@/assets/icons/linkedin.svg";
import Ig from "@/assets/icons/ig.svg";
import Gh from "@/assets/icons/gh.svg";

const smLinks = [
  {
    name: "Linkedin",
    href: "https://linkedin.com/in/manvel-muradyan-79174633b",
    img: Linkedin,
  },
  { name: "Instagram", href: "https://instagram.com/mno_ker", img: Ig },
  { name: "Github", href: "https://github.com/manveldev", img: Gh },
];
---

{
  smLinks.map((link) => (
    <a href={link.href}>
      <link.img class="w-5 h-5 fill-current text-secondary-foreground hover:text-secondary-foreground/90 hover:-translate-y-0.5 transition" />
    </a>
  ))
}
