@import 'tailwindcss';

:root {
	--primary: oklch(10.69% 0.0107 266.51);
	--primary-fg: oklch(92.17% 0.0029 264.54);
	--sun: oklch(55.11% 0.1858 32.42);
}

@theme inline {
	--font-family-inner: Inner, Sans-Serif;
	--color-primary: var(--primary);
	--color-primary-fg: var(--primary-fg);
	--color-sun: var(--sun);
}

html {
	@apply bg-primary text-primary-fg font-family-inner;
}

h1 {
	@apply text-4xl md:text-5xl font-bold tracking-wide;
}
