---
type Props =  astroHTML.JSX.HTMLAttributes & {
  title: string;
  width?: 'max-w-7xl' | 'max-w-6xl' | 'max-w-5xl'
}

const { title, width = 'max-w-7xl', class:className, ...props } = Astro.props;
---

<section class={`${width} mx-auto my-25 px-5 ${className}`} {...props}>
  <h2 class="text-center mb-10">{title}</h2>
  <slot />
</section>